@import 'thankyou_grid';

.maincontent-sidebar {
	.row-container {
		.maincontent {
			h2 {
				margin: 0;
				font-size: 2em;
				color: #646473;
				font-weight: 300;
			}
			.woocommerce {
				font-weight: 300;
				strong {
					font-weight: 400;
				}
			}

				

			
		}
	}
}